<a href="<%= notice_path(notice) %>">
  <div class="card mx-auto">
    <div class="card-body">
      <h5 class="card-title"><%= notice.title %></h5>
      <p class="card-text"><%= notice.content %></p>
    </div>
  </div>
</a>