<div class="container px-5 px-sm-0">
  <div data-turbolinks="true" class="row">
    <div class="col-md-6">
      <%= form_with(model: [:admin, @genre], local: true) do |form| %>
        <div class="form-group">
          <%= form.label :名前 %>
          <%= form.text_field :name, class: "form-control" %>
        </div>
        <%= form.submit "更新", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>