    <div class="container-fluid">
      <div class="container-fluid" style="background-image: url('/assets/background-image.jpg'); height: 100vh; width: 100vw; background-size: cover;">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 text-center" style="background-color:rgba(255, 128, 0, 0.8); padding: 30px; border-radius: 10px; color: white;">
          <h1 style="font-size: 60px; text-shadow: 2px 2px 4px black;">ようこそ Roll The Dice!</h1>
          <p style="font-size: 25px;">1⃣：Roll The Diceは、ゲーム好きな人々が集まる、<br>ゲームレビューサイトです。</p><br>
          <p style="font-size: 25px;">2⃣：ゲーム情報、人気ゲームのレビュー、<br>プレイ日記や攻略情報など、<br>ゲームに関するあらゆる情報を共有できます。</p><br>
          <p style="font-size: 25px;">3⃣：様々な種類のゲームを取り扱っています。例えば、アクション、アドベンチャー、ロールプレイング等があります。<br>その他にも、ボードゲームの情報も扱っております。<br>カード、テーブル、タイル、パズル等の情報をユーザー間で共有しよう❣</p><br>
          <p style="font-size: 25px;">4⃣：お気に入りに登録したゲームは、マイページで<br>一覧表示されます。<br>また、レビューの投稿や閲覧履歴など、自分が行った活動も<br>マイページで確認できます。</p><br>
          <p style="font-size: 25px;">5⃣：ゲームを愛する全ての人々が、<br>Roll The Diceで楽しみましょう！</p><br>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>


  <footer>
  </footer>
