  <head>
  <meta charset="utf-8">
  <%= stylesheet_link_tag 'homes' %>
  </head>
  <body>
    <header></header>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 text-center" style="background-color:rgba(255, 128, 0, 0.8); padding: 4.4px; color: white;">
          <h1 style="font-size: 60px; text-shadow: 2px 2px 4px black;">ようこそ 「Roll The Dice!」へ</h1>
          <p style="font-size: 20px;">1⃣：Roll The Diceは、ゲーム好きな人々が集まる、<br>ゲームレビューサイトです。</p><br>
          <p style="font-size: 20px;">2⃣：ゲーム情報、人気ゲームのレビュー、<br>プレイ日記や攻略情報など、<br>ゲームに関するあらゆる情報を共有できます。</p><br>
          <p style="font-size: 20px;">3⃣：様々な種類のゲームレビューの投稿が行えます。<br>例えば、アクション、アドベンチャー、ロールプレイング等々<i class="fas fa-gamepad fa-lg" style="color: #001d75;"></i><br>その他にも、ボードゲームの投稿も<br><i class="fas fa-dice fa-lg" style="color: #003899;"></i>カード、テーブル、タイル、パズル等の情報をユーザー間で共有しよう</p><br>
          <p style="font-size: 20px;">4⃣：お気に入りに登録したゲームは、マイページで<br>一覧表示されます。<br>また、レビューの投稿や閲覧履歴など、自分が行った活動も<br>マイページで確認できます。</p><br>
          <p style="font-size: 20px;">5⃣：ゲームを愛する全ての人々が、<br>Roll The Diceで楽しみましょう！</p><br>
        </div>
      </div>
    </div>
  </div>
</body>

  <footer>
  </footer>
