/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

header {
  background-color:rgba(255, 128, 0, 0.8);color: white;
}
 
footer {
  background-color:rgba(255, 128, 0, 0.8);color: white;
  padding-left: 20%;
  flex-shrink: 0;
}
#to-top-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}

#to-top-button.show {
  display: block;
}

@media (max-width: 768px) {
  .user-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .user-info-container form, .user-info-container .guest-info {
    display: none;
  }
  
  .user-info-container.expanded form, .user-info-container.expanded .guest-info {
    display: block;
  }
  
  .user-info-container .toggle-info {
    cursor: pointer;
    margin-top: 10px;
    font-weight: bold;
    text-decoration: underline;
  }
}

@media screen and (max-width: 768px) {
  .card {
    width: 100%;
  }
  .table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    border: none;
  }
  .table {
    width: auto;
  }
}