// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  .container-fluid {
    background-image: url('background-image.jpg');
    background-position: center center;
    background-size: cover;
  }