<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th></th>
      <th>ゲーム名</th>
      <th>紹介</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <h1>テーブル系投稿一覧</h1>
    <% @bordgames.each do |bordgame| %>
      <tr>
        <td><%= link_to(bordgame.customer_id) do %>
            <% if bordgame.image.attached? %>
            <%= image_tag bordgame.image, size: "100x100" %>
            <% end %>
        </td>
        <td><%= link_to bordgame.game_title,bordgame, class: "game_#{bordgame.id}" %></td>
        <td><%= bordgame.introduct_title %></td>
        </td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>
